[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bootstrap4 = "*"
django-bootstrap4 = "*"
numpy = "*"
pandas = "*"
requests = "*"
scipy = "*"
scikit-learn = "*"
mysqlclient = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.9"
